#new-word-input.error {
    border: 1px solid red;
}

.main-header {
    text-align: center;
}

.topmenu .menu-link {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    border: 1px solid gray;
}

.topmenu .menu-link a {
    text-decoration: none;
    color: #0d3625;
    margin: 3px;
}

.topmenu .menu-link a:hover {
    color: gray;
}

.icon {
    cursor: pointer;
    margin-bottom: -4px;
}

#js-generate-hash {
    display: block;
    margin: 10px;
    width: 150px;
    height: 30px;
}

.error-message {
    display: none;
}

.error-message.active {
    display: block;
    text-align: center;
}

.error-message.active .error-text {
    border: 1px solid red;
}

.algorithms-header {
    margin: 10px;
}
.algorithms {
    margin: 5px;
    padding: 5px;
    width: auto;
}

.new-word-form {
    margin: 5px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 10001;
    text-align: center;
    white-space: nowrap;
}
.popup-overlay.active {
    display: block;
    -webkit-animation: popup-active .6s;
    -moz-animation: popup-active .6s;
    animation: popup-active .6s;
}

.generated-hashes {
    z-index: 10002;
    position: absolute;
    width: 800px;
    top: 15%;
    right: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

.close-icon {
    float: right;
    margin: 2px;
}

.algorithm-item {
    padding: 15px 15px 7px 15px;
    border-bottom: 1px dotted black;
}

.algorithm-item span.algorithm-name {
    color: #bf5329;
}

.hash-table {
    min-width: 1000px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}